variable "function_principal_id" {
  description = "Object ID of the existing Function App managed identity."
  type        = string
}

locals {
  data_contributor_role_id = "${azurerm_cosmosdb_account.cosmos.id}/sqlRoleDefinitions/00000000-0000-0000-0000-000000000002"
  incident_container_scope = "${azurerm_cosmosdb_account.cosmos.id}/dbs/${local.database_name}/colls/${local.container_name}"
}

resource "azurerm_cosmosdb_sql_role_assignment" "function_incident_writer" {
  resource_group_name = var.resource_group_name
  account_name        = azurerm_cosmosdb_account.cosmos.name
  name = uuidv5("url", join("|", [
    azurerm_cosmosdb_account.cosmos.id,
    var.function_principal_id,
    local.data_contributor_role_id,
    local.incident_container_scope,
  ]))

  depends_on = [azurerm_cosmosdb_sql_container.incidents]

  principal_id       = var.function_principal_id
  role_definition_id = local.data_contributor_role_id
  scope              = local.incident_container_scope
}
